.nav {
  display: flex;
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  padding: 1rem;
  border-radius: 15px;
  backdrop-filter: blur(5px);
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-left {
  display: flex;
  gap: 1rem;
  align-items: start;
  margin-right: auto;
}

.nav-right {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  justify-items: end;
  gap: 0.2rem;
}

.current-score,
.high-score,
.score-value {
  text-align: right;
  font-weight: bold;
  font-family: "Pokemon Solid";
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.high-score,
.current-score {
  font-size: 1.5rem;
  color: #ffd700;
}

.score-value {
  font-size: 2rem;
  color: #ff6b6b;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.6);
}

.nav-title {
  font-size: 2.5rem;
  font-family: "Pokemon Solid";
  background: linear-gradient(45deg, #ffcc00, #ff6b6b);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.3));
}

.nav-logo {
  width: 10rem;
}

@media (max-width: 1024px) {
  .nav {
    padding: 0.9rem;
  }

  .nav-right {
    grid-template-columns: auto auto;
    gap: 0.3rem 0.8rem;
  }

  .nav-title {
    font-size: 2.2rem;
  }

  .nav-logo {
    width: 9rem;
  }

  .high-score,
  .current-score {
    font-size: 1.3rem;
  }

  .score-value {
    font-size: 1.7rem;
  }
}

@media (max-width: 810px) {
  .nav {
    gap: 1rem;
    padding: 0.75rem;
  }

  .nav-left {
    align-items: center;
    width: 100%;
    margin-right: 0;
  }

  .nav-right {
    width: 25%;
  }

  .nav-title {
    font-size: 2rem;
    text-align: center;
  }

  .nav-logo {
    width: 8rem;
  }

  .high-score,
  .current-score {
    font-size: 1.3rem;
    text-align: right;
  }

  .score-value {
    font-size: 1.5rem;
    text-align: left;
  }
}

@media (max-width: 480px) {
  .nav {
    padding: 0.5rem;
    border-radius: 10px;
  }

  .nav-right {
    gap: 0.25rem 0.5rem;
  }

  .nav-title {
    font-size: 1.5rem;
  }

  .nav-logo {
    width: 6rem;
  }

  .high-score,
  .current-score {
    font-size: 1rem;
  }

  .score-value {
    font-size: 1.2rem;
  }
}
