@font-face {
  font-family: "Pokemon Solid";
  src: url("/src/assets/fonts/PokemonSolid.ttf");
  font-display: swap;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #f5f5f5;
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  width: 100vw;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}
